<aside id="{{moduleId}}-container" class="app {{moduleId}}-container{{#if hidden}} hidden{{/if}}">
    <h3>
        <i class="fas fa-cards-blank"></i> {{localize (lookup (concat translationPrefix '.AdventureCards') 'string')}} <i class="{{moduleId}}-mode fas fa-angle-{{#if hidden}}up{{else}}down{{/if}}"></i>
    </h3>
    <div id="{{moduleId}}-hands-wrapper">
        {{#each hands}}
        <div id="{{../moduleId}}-{{id}}" class="{{../moduleId}}-cards{{#if isOwner}}{{#unless ../isGM}} is-owner{{/unless}}{{/if}}" data-hand-id="{{id}}">
            <div class="{{../moduleId}}-grid" data-hand-id="{{id}}">
                <div class="{{../moduleId}}-name" data-tooltip="{{localize (lookup (concat ../translationPrefix '.Open') 'string')}} {{name}}">
                    {{name}}
                </div>
                {{#if isOwner}}
                <div class="{{../moduleId}}-button {{../moduleId}}-draw" data-hand-id="{{id}}" data-tooltip="{{localize (lookup (concat ../translationPrefix '.DrawCard') 'string')}}">
                    <i class="fas fa-cards-blank"></i>
                </div>
                {{/if}}
                <div class="{{../moduleId}}-container {{../moduleId}}-cards-container" data-hand-id="{{id}}">
                    {{#each cards}}
                    <img class="{{../../moduleId}}-card card" data-card-id="{{id}}" data-card-uuid="{{uuid}}" data-img="{{img}}" src="{{img}}" data-tooltip="<h3>{{name}}</h3><p>{{description}}</p>" />
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
        <div id="{{moduleId}}-{{discardPile.id}}" class="{{moduleId}}-cards {{moduleId}}-pile{{#if isGM}} is-owner{{/if}}" data-hand-id="{{discardPile.id}}">
            <div class="{{moduleId}}-grid">
                <div data-tooltip="{{localize (lookup (concat translationPrefix '.Open') 'string')}} {{discardPile.name}}" class="{{moduleId}}-name">
                    {{discardPile.name}}
                </div>
                <div class="{{moduleId}}-container {{moduleId}}-cards-container" data-hand-id="{{discardPile.id}}">
                    {{#each discardPile.cards}}
                    <img class="{{../moduleId}}-card card" data-card-id="{{id}}" data-card-uuid="{{uuid}}" data-img="{{img}}" src="{{img}}" data-tooltip="<h3>{{name}}</h3><p>{{description}}</p>" />
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</aside>