<aside id="{{moduleId}}-container" class="app {{moduleId}}-container{{#if hidden}} hidden{{/if}}">
    <h3>
        <i class="fas fa-cards-blank"></i> {{localize (lookup (concat translationPrefix '.DeckName') 'string')}} <i class="{{moduleId}}-mode fas fa-angle-{{#if hidden}}up{{else}}down{{/if}}"></i>
    </h3>
    <div id="{{moduleId}}-hands-wrapper">
        {{#each hands}}
        <div id="{{../moduleId}}-{{id}}" class="{{../moduleId}}-cards{{#if (eq ../favorite id)}} is-favorite{{/if}}" data-hand-id="{{id}}">
            <div class="{{../moduleId}}-grid" data-hand-id="{{id}}">
                <div class="{{../moduleId}}-name" data-tooltip="{{localize (lookup (concat ../translationPrefix '.Open') 'string')}} {{name}}">
                    {{name}}
                </div>
                {{#if isOwner}}
               {{!-- <div class="{{../moduleId}}-button {{../moduleId}}-draw" data-hand-id="{{id}}" data-tooltip="{{localize (lookup (concat ../translationPrefix '.DrawCard') 'string')}}">
                    <i class="fas fa-cards-blank"></i>
                </div> --}}
                <div class="{{../moduleId}}-button {{../moduleId}}-favorite" data-hand-id="{{id}}" data-tooltip="{{localize (lookup (concat ../translationPrefix '.Favorite') 'string')}}">
                    <i class="{{#if (eq ../favorite id)}}fas{{else}}fa-regular{{/if}} fa-star"></i>
                </div>
                {{/if}}
                <ul class="{{../moduleId}}-container {{../moduleId}}-cards-container" data-hand-id="{{id}}">
                    {{#each cards}}
                    <li class="{{../../moduleId}}-card">
                        <img data-card-id="{{id}}" data-card-uuid="{{uuid}}" data-img="{{img}}" src="{{img}}" data-tooltip="<h3>{{name}}</h3><p>{{description}}</p>" />
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</aside>