<aside id="{{moduleId}}-container" class="app {{moduleId}}-container">
    <h3 class="{{moduleId}}-title">
        <i class="fas fa-cards-blank"></i> {{localize (lookup (concat translationPrefix '.DeckName') 'string')}} <i class="{{moduleId}}-mode fas fa-angle-{{#if hidden}}up{{else}}down{{/if}}"></i>
    </h3>
    <div id="{{moduleId}}-hands-wrapper">
        {{#each hands}}
        {{#if (or (not ../hidden) (and ../hidden (includes ../favorites id)))}}
        <div id="{{../moduleId}}-{{id}}" class="{{../moduleId}}-hand{{#if (includes ../favorites id)}} is-favorite{{/if}}" data-hand-id="{{id}}">
            <h4 class="{{../moduleId}}-name" data-tooltip="{{localize (lookup (concat ../translationPrefix '.Open') 'string')}} {{name}}">
                {{name}}
            </h4>
            <div class="{{../moduleId}}-buttons">
                <div class="{{../moduleId}}-button {{../moduleId}}-favorite" data-hand-id="{{id}}" data-tooltip="{{localize (lookup (concat ../translationPrefix '.Favorite') 'string')}}">
                    <i class="{{#if (includes ../favorites id)}}fas{{else}}fa-regular{{/if}} fa-star"></i>
                </div>
                {{#if isOwner}}
                <div class="{{../moduleId}}-button {{../moduleId}}-draw" data-hand-id="{{id}}" data-tooltip="{{localize (lookup (concat ../translationPrefix '.DrawCard') 'string')}}">
                    <i class="fas fa-cards-blank"></i>
                </div>
                {{/if}}
            </div>
            <ul class="{{../moduleId}}-cards" data-hand-id="{{id}}" data-uuid="{{uuid}}">
                {{#each (sortCards cards 'sort')}}
                <li class="{{../../moduleId}}-card">
                    <img  class="{{../../moduleId}}-card-image" data-card-id="{{id}}" data-uuid="{{uuid}}" data-img="{{img}}" src="{{img}}" {{#if isOwner}}draggable="true"{{/if}} data-tooltip="<h4><b>{{name}}</b></h4><hr><p>{{description}}</p>" />
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        {{/each}}
    </div>
</aside>