{{!-- {{#if collapsed}} collapsed{{/if}}{{#if minimalUi.active}} minimal-ui list-behavior-{{minimalUi.listBehavior}}{{/if}} --}}
{{#if (or showObservable isGM)}}
<ol id="{{moduleId}}-observable-hands" class="{{moduleId}}-wrapper plain scrollable flexcol" data-tooltip-direction="RIGHT">
    {{#unless isGM}}
    {{#each observableHands}}
    {{#unless isPinned}}
    {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
    {{/unless}}
    {{/each}}
    {{/unless}}
    {{#if isGM}}
    {{#each ownedHands}}
    {{#unless isPinned}}
    {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
    {{/unless}}
    {{/each}}
    {{/if}}
</ol>
{{/if}}
<div id="{{moduleId}}-owned-hands" class="flexcol">
    <ol id="{{moduleId}}-owned-hands-list" class="{{moduleId}}-wrapper plain scrollable flexcol" data-tooltip-direction="RIGHT">
        {{!-- First list the favorited hand (if applicable) --}}
        {{#if favoriteHand}}
        {{> 'modules/card-hands-list/templates/hand.hbs' this=favoriteHand parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
        {{/if}}
        {{!-- Now list the pinned hands --}}
        {{#each pinnedHands}}
        {{#if isOwner}}
        {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
        {{/if}}
        {{/each}}
        {{#each pinnedHands}}
        {{#unless isOwner}}
        {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
        {{/unless}}
        {{/each}}        {{!-- Next list the remaining owned hands --}}
        {{#each ownedHands}}
        {{#unless (or isFavorite isPinned ../isGM)}}
        {{> 'modules/card-hands-list/templates/hand.hbs' this=this parent=.. cards=cards id=id uuid=uuid hasPlayerOwner=hasPlayerOwner isOwner=isOwner isGM=../isGM}}
        {{/unless}}
        {{/each}}
    </ol>
    <div id="card-hands-stats" class="flexrow">
        <div id="hands-owned">
            <label>{{localize 'CardHandsList.Owned'}}</label>
            <span class="owner" style="color: {{userColor.css}}">{{ownedHands.length}}</span>
        </div>
        {{#if showObservable}}
        <div id="hands-observable">
            <label>{{localize 'CardHandsList.Observable'}}</label>
            <span class="observer">{{observableHands.length}}</span>
        </div>
        {{/if}}
        <button id="card-hands-list-expand" type="button" class="icon fa-solid fa-caret-up" data-action="expand"></button>
    </div>
</div>
