{{#if (or (not parent.collapsed) (and parent.collapsed (cardHandsList_Includes parent.pinned id)))}}
<section id="{{parent.moduleId}}-{{id}}" class="{{parent.moduleId}}-hand{{#if (eq parent.favorite id)}} is-favorite{{/if}}{{#if (cardHandsList_Includes parent.pinned id)}} is-pinned{{/if}}" data-hand-id="{{id}}">
    <h4 class="{{parent.moduleId}}-name{{#if isOwner}}{{#unless (and (cardHandsList_IsGM) hasPlayerOwner)}} is-owner{{/unless}}{{/if}}" data-tooltip="{{localize (cardHandsList_Concat parent.translationPrefix '.Open')}} {{name}}">
        <a><i class="fas fa-browser"></i> {{name}}</a>
    </h4>
    <div class="{{parent.moduleId}}-button {{parent.moduleId}}-context-menu-link" data-tooltip="{{localize (cardHandsList_Concat parent.translationPrefix '.Menu')}}"><a><i class="fas fa-ellipsis-vertical"></i></a></div>
    <div class="{{parent.moduleId}}-buttons">
        {{#if (and (eq parent.system 'swade') isOwner)}}
        <div class="{{parent.moduleId}}-button {{parent.moduleId}}-favorite"
            data-hand-id="{{id}}"
            data-tooltip="
                {{#if (cardHandsList_Includes parent.favorite id)}}
                {{localize (cardHandsList_Concat parent.translationPrefix '.Unfavorite')}}
                {{else}}
                {{localize (cardHandsList_Concat parent.translationPrefix '.Favorite')}}
                {{/if}}
        ">
            <a><i class="{{#if (cardHandsList_Includes parent.favorite id)}}fas{{else}}far{{/if}} fa-star"></i></a>
        </div>
        {{/if}}
        <div
            class="{{parent.moduleId}}-button {{parent.moduleId}}-pin"
            data-hand-id="{{id}}"
            data-tooltip="
                {{#if (cardHandsList_Includes parent.pinned id)}}
                {{localize (cardHandsList_Concat parent.translationPrefix '.Unpin')}}
                {{else}}
                {{localize (cardHandsList_Concat parent.translationPrefix '.Pin')}}
                {{/if}}
            "
        >
            <a><i class="{{#if (cardHandsList_Includes parent.pinned id)}}fas{{else}}far{{/if}} fa-thumbtack"></i></a>
        </div>
        {{#if isOwner}}
        <div
            class="{{parent.moduleId}}-button {{parent.moduleId}}-draw"
            data-hand-id="{{id}}"
            data-tooltip="{{localize 'CARDS.Draw'}}"
        >
            <a><i class="far fa-cards-blank"></i></a>
        </div>
        {{/if}}
    </div>
    <ul class="{{parent.moduleId}}-cards" data-hand-id="{{id}}" data-uuid="{{uuid}}">
        {{#each (cardHandsList_SortCards this.cards 'sort')}}
        <li class="{{../parent.moduleId}}-card">
            <img
                class="{{../parent.moduleId}}-card-image"
                src="{{img}}"
                data-card-id="{{id}}"
                data-uuid="{{uuid}}"
                data-img="{{img}}"
                {{#if parent.isOwner}}
                draggable="true"{{/if}}
                data-tooltip="
                    <div class='card-hands-list-tooltip'>
                    <h4 class='{{../parent.moduleId}}-tooltip-heading'>{{name}}</h4>
                    {{#unless (eq face null)}}
                    {{#with (lookup faces face)}}
                    {{#if text}}
                    <div class='{{../../parent.moduleId}}-card-text-description'>{{CardHandsList_enrichHTML text}}</div>
                    {{else}}
                    {{#if ../description}}
                    <div class='{{../../parent.moduleId}}-card-text-description'>{{CardHandsList_enrichHTML ../description}}</div>
                    {{/if}}
                    {{/if}}
                    {{/with}}
                    {{else}}
                    {{#if back.text}}
                    <div class='{{../parent.moduleId}}-card-text-description'>{{CardHandsList_enrichHTML back.text}}</div>
                    {{/if}}
                    {{/unless}}
                    </div>
                "
            />
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}