<li id="{{id}}" class="hand {{#if (eq parent.favorite id)}}is-favorite{{/if}} {{#if isPinned}}is-pinned{{/if}}" style="--player-color: {{owner.color}}; --player-border:{{owner.border}}" data-id="{{id}}">
    <span class="name{{#if isExplicitOwner}} is-owner{{/if}} ellipsis" data-action="openHand" data-tooltip="{{localize (concat parent.translationPrefix '.Open')}} {{name}}">
        <i class="fa-solid fa-up-right-from-square"></i> {{name}}
    </span>
    <button class="button pin" type="button" data-action="pinHand" data-id="{{id}}" data-tooltip="
        {{#if isPinned}}
        {{localize (concat parent.translationPrefix '.Unpin')}}
        {{else}}
        {{localize (concat parent.translationPrefix '.Pin')}}
        {{/if}}
    ">
        <i class="{{#if isPinned}}fas{{else}}far{{/if}} fa-thumbtack"></i>
    </button>
    <div class="buttons">
        {{#if isOwner}}
        <button class="button context-menu-link" type="button" data-id="{{id}}" data-action="getHandContextOptions" data-tooltip="{{localize (concat parent.translationPrefix '.Menu')}}">
            <i class="fas fa-ellipsis-vertical"></i>
        </button>
        {{/if}}
        {{#if (and (eq parent.system 'swade') isOwner)}}
        <button class="button favorite" type="button" data-action="favoriteHand" data-id="{{id}}" data-tooltip="{{#if isFavorite}}{{localize (concat parent.translationPrefix '.Unfavorite')}}{{else}}{{localize (concat parent.translationPrefix '.Favorite')}}{{/if}}">
            <i class="{{#if isFavorite}}fas{{else}}far{{/if}} fa-star"></i>
        </button>
        {{/if}}
        {{#if isOwner}}
        <button class="button draw" type="button" data-action="drawCard" data-id="{{id}}" data-tooltip="{{localize 'CARDS.ACTIONS.Draw'}}">
            <i class="far fa-cards-blank"></i>
        </button>
        {{/if}}
    </div>
    <div class="cards">
        {{#if cards.size}}
        <button class="button horizontal-scroll --left" type="button" data-action="scrollArrow">
            <i class="fas fa-caret-left"></i>
        </button>
        {{/if}}
        <ol class="cards-list" data-id="{{id}}" data-uuid="{{uuid}}">
            {{#each sortedCards}}
            <li class="card" data-id="{{id}}" data-uuid="{{uuid}}" data-action="openCard">
                <img class="card-image" src="{{img}}" data-id="{{id}}" data-uuid="{{uuid}}" data-img="{{img}}" {{#if parent.isOwner}} draggable="true" {{/if}} data-tooltip="
                        <div class='tooltip'>
                            <h3 class='tooltip-heading'>{{name}}</h3>
                            {{#unless (eq face null)}}
                            {{#with (lookup faces face)}}
                            {{#if enrichedText}}
                            <div class='card-text-description'>
                                {{enrichedText}}
                            </div>
                            {{else}}
                            {{#if ../enrichedDescription}}
                            <div class='card-text-description'>
                                {{../enrichedDescription}}
                            </div>
                            {{/if}}
                            {{/if}}
                            {{/with}}
                            {{else}}
                            {{#if back.enrichedText}}
                            <div class='card-text-description'>
                                {{back.enrichedText}}
                            </div>
                            {{/if}}
                            {{/unless}}
                        </div>
                    " />
            </li>
            {{/each}}
        </ol>
        {{#if cards.size}}
        <button class="button horizontal-scroll --right" type="button" data-action="scrollArrow">
            <i class="fas fa-caret-right"></i>
        </button>
        {{/if}}
    </div>
</li>
