{{#if (or (not parent.collapsed) (and parent.collapsed isPinned))}}
<section id="{{parent.moduleId}}-{{id}}" class="{{parent.moduleId}}-hand
        {{#if (eq parent.favorite id)}} is-favorite{{/if}}
        {{#if isPinned}} is-pinned{{/if}}" data-id="{{id}}">
    <h4 class="{{parent.moduleId}}-name{{#if isOwner}}{{#unless (and isGM hasPlayerOwner)}} is-owner{{/unless}}{{/if}}" data-id="{{id}}" data-uuid="{{uuid}}" data-tooltip="{{localize (concat parent.translationPrefix '.Open')}} {{name}}">
        <a>{{name}}</a>
    </h4>
    <div class="{{parent.moduleId}}-buttons">
        {{#if (and (eq parent.system 'swade') isOwner)}}
        <div class="{{parent.moduleId}}-button {{parent.moduleId}}-favorite" data-id="{{id}}" data-tooltip="
                {{#if isFavorite}}
                {{localize (concat parent.translationPrefix '.Unfavorite')}}
                {{else}}
                {{localize (concat parent.translationPrefix '.Favorite')}}
                {{/if}}
        ">
            <a><i class="{{#if isFavorite}}fas{{else}}far{{/if}} fa-star"></i></a>
        </div>
        {{/if}}
        <div class="{{parent.moduleId}}-button {{parent.moduleId}}-pin" data-id="{{id}}" data-tooltip="
                {{#if isPinned}}
                {{localize (concat parent.translationPrefix '.Unpin')}}
                {{else}}
                {{localize (concat parent.translationPrefix '.Pin')}}
                {{/if}}
            ">
            <a><i class="{{#if isPinned}}fas{{else}}far{{/if}} fa-thumbtack"></i></a>
        </div>
        {{#if isOwner}}
        <div class="{{parent.moduleId}}-button {{parent.moduleId}}-draw" data-id="{{id}}" data-tooltip="{{localize 'CARDS.Draw'}}">
            <a><i class="far fa-cards-blank"></i></a>
        </div>
        {{/if}}
    </div>
    <div class="{{parent.moduleId}}-cards">
        {{#if cards.size}}<div class="card-hands-list-button horizontal-scroll --left"><a><i class="fas fa-caret-left"></i></a></div>{{/if}}
        <ul class="{{parent.moduleId}}-cards-list" data-id="{{id}}" data-uuid="{{uuid}}">
            {{#each sortedCards}}
            <li class="{{../parent.moduleId}}-card" data-id="{{id}}" data-uuid="{{uuid}}" >
                <img class="{{../parent.moduleId}}-card-image" src="{{img}}" data-id="{{id}}" data-uuid="{{uuid}}" data-img="{{img}}" {{#if parent.isOwner}} draggable="true" {{/if}} data-tooltip="
                        <div class='card-hands-list-tooltip'>
                        <h4 class='{{../parent.moduleId}}-tooltip-heading'>{{name}}</h4>
                        {{#unless (eq face null)}}
                        {{#with (lookup faces face)}}
                        {{#if enrichedText}}
                        <div class='{{../../parent.moduleId}}-card-text-description'>{{enrichedText}}</div>
                        {{else}}
                        {{#if ../enrichedDescription}}
                        <div class='{{../../parent.moduleId}}-card-text-description'>{{../enrichedDescription}}</div>
                        {{/if}}
                        {{/if}}
                        {{/with}}
                        {{else}}
                        {{#if back.enrichedText}}
                        <div class='{{../parent.moduleId}}-card-text-description'>{{back.enrichedText}}</div>
                        {{/if}}
                        {{/unless}}
                        </div>
                    " />
            </li>
            {{/each}}
        </ul>
        {{#if cards.size}}<div class="card-hands-list-button horizontal-scroll --right"><a><i class="fas fa-caret-right"></i></a></div>{{/if}}
    </div>
</section>
{{/if}}
