{{#if (or (not parent.collapsed) (and parent.collapsed (cardHandsList_Includes parent.favorites id)))}}
<section id="{{parent.moduleId}}-{{id}}" class="{{parent.moduleId}}-hand{{#if (cardHandsList_Includes parent.favorites id)}} is-favorite{{/if}}" data-hand-id="{{id}}">
    <h4 class="{{parent.moduleId}}-name{{#if isOwner}}{{#unless (and (cardHandsList_IsGM) hasPlayerOwner)}} is-owner{{/unless}}{{/if}}" data-tooltip="{{localize (cardHandsList_Concat parent.translationPrefix '.Open')}} {{name}}">
        <a>{{name}}</a>
    </h4>
    <div class="{{parent.moduleId}}-buttons">
        <div
            class="{{parent.moduleId}}-button {{parent.moduleId}}-favorite"
            data-hand-id="{{id}}"
            data-tooltip="
                {{#if (cardHandsList_Includes parent.favorites id)}}
                {{localize (cardHandsList_Concat parent.translationPrefix '.Unfavorite')}}
                {{else}}
                {{localize (cardHandsList_Concat parent.translationPrefix '.Favorite')}}
                {{/if}}
            "
        >
            <a><i class="{{#if (cardHandsList_Includes parent.favorites id)}}fas{{else}}far{{/if}} fa-thumbtack"></i></a>
        </div>
        {{#if isOwner}}
        <div
            class="{{parent.moduleId}}-button {{parent.moduleId}}-draw"
            data-hand-id="{{id}}"
            data-tooltip="{{localize (cardHandsList_Concat parent.translationPrefix '.DrawCard')}}"
        >
            <a><i class="far fa-cards-blank"></i></a>
        </div>
        {{/if}}
    </div>
    <ul class="{{parent.moduleId}}-cards" data-hand-id="{{id}}" data-uuid="{{uuid}}">
        {{#each (cardHandsList_SortCards this.cards 'sort')}}
        <li class="{{../parent.moduleId}}-card">
            <img
                class="{{../parent.moduleId}}-card-image"
                src="{{img}}"
                data-card-id="{{id}}"
                data-uuid="{{uuid}}"
                data-img="{{img}}"
                {{#if parent.isOwner}}
                draggable="true"{{/if}}
                data-tooltip="
                    <h4 class='{{../parent.moduleId}}-tooltip-heading'>{{name}}</h4>
                    {{#unless (eq face null)}}
                    {{#with (lookup faces face)}}
                    {{#if text}}
                    <p class='{{../../parent.moduleId}}-card-text-description'>{{text}}</p>
                    {{else}}
                    {{#if ../description}}
                    <p class='{{../../parent.moduleId}}-card-text-description'>{{../description}}</p>
                    {{/if}}
                    {{/if}}
                    {{/with}}
                    {{else}}
                    {{#if back.text}}
                    <p class='{{../parent.moduleId}}-card-text-description'>{{back.text}}</p>
                    {{/if}}
                    {{/unless}}
                "
            />
        </li>
        {{/each}}
    </ul>
</section>
{{/if}}